<%- include('partials/header') %>
    <div class="jumbotron centered">
    <div class="container">
        <h2>Welcome</h2>
        <nav>
            <a class="btn btn-light btn-lg" href="/Add_students" role="button">Add excel sheet</a>
            <a class="btn btn-light btn-lg" href="/Add_student" role="button">Add a student</a>
            <a class="btn btn-light btn-lg" href="/Add_faculty" role="button">Add a faculty</a>
            <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        </nav>
    </div>
</div>
<%- include('partials/footer') %>