<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <!-- <a class="btn btn-light btn-lg" href="/register" role="button">Register</a> -->
    <a class="btn" href="/Student_login" role="button">Student Login</a>
    <a class="btn" href="/Admin_login" role="button">Admin Login</a>
    <a class="btn" href="/Faculty_login" role="button">Faculty Login</a>
  </div>
  </div>
  <h1 class="display-3">Departmental Information System</h1>
    <p class="lead">An efficient departmental information system that streamlines attendance, student records, and faculty management.</p>
    <hr>

<%- include('partials/footer') %>
